* {border-color:#0658a4!important; color:#0658a4;}

body {
	padding-top: 70px;
	padding-bottom: 70px;
}
			
.pt-25 {padding-top:25%;}
.pt-50 {padding-top:50%;}
.mx-25 {margin-left:25%;margin-right:25%;}
.mt-15 {margin-top:15%;}
.mt-25 {margin-top:25%;}
.mt-n25 {margin-top:-25%;}
.w-5 {width:5%;}

.card {z-index:1;}
.footer .card-header {background-color:#0658a40f; color:#0658a4;}
.footer i {color:white;}
.profile-picture, .icone-cours {background:white center center no-repeat;background-size:cover;z-index:100;border:2px solid;}
.cours-icones {font-size: 3rem;}

.profs .card-title, .cours-profs .card-title {height: 3.6rem;}

.inactif, .inactif * {border-color:#acacac!important; color:#acacac;}
.inactif .profile-picture {opacity: 0.5;}
.profs > .col:not(.inactif) *, .cours > .col *, .cours-prof > .col *, .cours-profs > .col * {cursor:pointer;}

.icone-cours {margin-top:-12.5%;}
.icone-cours.ic1 {margin-left:20%;}
.icone-cours.ic1.seule {margin-left:37.5%;}
.icone-cours.ic2 {margin-left:55%;}

.icone-cours > div {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-dept {
    background-color: #0658a4;
    border-color: #06437b!important;
}

.navbar-dept .navbar-brand, .navbar-dept .navbar-brand * {
    color: white;
}
.navbar-dept .navbar-nav>li>a, .navbar-dept .navbar-nav>li>a * {
    color: white;
}


.jumbotron {
    background-color: #0658a40f;
}

.container > div > .accordion > .card > .card-header {
    border: 1px solid white !important;
}
.accordion .accordion .card-header {
    background-color: #0658a40f;
    color: #0658a4;
}
.accordion .accordion .card-header * {
    background-color: transparent;
    color: #0658a4;
	border:0;
}
.card-header, .card-header * {background-color:#0658a4; color:white;}
.accordion .card-header h2 button {
    font-size: 1.75rem;
}
.accordion .card-header h2 .btn-link:hover {
    color:white;
    text-decoration: underline;
	border-color:transparent;
}
.accordion .accordion .card-header h2 button  {
    font-size: 1.5rem;
}
.accordion .accordion .card-header h2 .btn-link:hover {
    color:#0658a4;
    text-decoration: underline;
	border-color:transparent;
}
.accordion .accordion .card-header h2 .btn.focus, .accordion .accordion .card-header h2 .btn:focus {
    outline: 0;
    box-shadow: none;
}