<div class="container pb-3 pt-3">
  <div class="row">
    <div class="col-md">
      <div class="alert alert-dark">
        <h1>DEC&#64;Montpetit / Bac&#64;UdeSherbrooke</h1>
        <p>
          Le DEC-Bac c'est un DEC du collège Édouard Montpetit et un Bac de
          l'université de Sherbrooke.
        </p>
        <p>
          Certains cours "en double" disparaissent, tu fais 3 sessions par an et
          hop, ça prend juste 5 ans.
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="alert alert-dark">
        <h1>Légende</h1>
        <p>Tous les cours en blanc sont donnés au CEGEP au campus Longueuil.</p>
        <p>
          Tous les cours en vert sont donnés par l'université de Sherbrooke sur
          le
          <a class="btn btn-success mt-1" target="_blank"
            href="https://www.usherbrooke.ca/longueuil/campus/acces/">Campus
            Longueuil</a>
        </p>
      </div>
    </div>
  </div>
  @for (session of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]; track session) {
  <div class="row">
    <div class="col">
      @if(session != 1) {
      <hr />
      }
      <span class="float-end">Année {{getSessionYear(session)}} {{getSessionSeason(session)}}</span>
      <h5 id="s1">Session {{session}}</h5>
    </div>
  </div>

  <div class="session">
    @for(cours of dataService.coursSessionDecBac(session); track cours.no) {
    <div [class]="cours.bac
                      ? 'sherbrooke course text-dark bg-success'
                      : 'edouard course text-dark'
                  ">
      <div class="top-row">
        <div class="title-container">
          <span class="titre"> {{cours.nom}} </span>
          <span [class]="cours.bac
                      ? 'badge text-bg-dark'
                      : 'badge text-bg-light'
                  ">{{cours.no}}-EM</span>
        </div>
        @if (cours.url) {
        <a class="btn btn-primary" href="{{ cours.url }}">
          <mat-icon>http</mat-icon>
        </a>
        }
      </div>

      <div class="bottom-row">
        <span class="float-end icons">
          @for(icon of cours.icons; track icon){
          &nbsp;<i class="{{icon}}"></i>
          }
        </span>
        @if(cours.heures > 0) {
        <span class="float-end">&nbsp;<i class="fas fa-clock"></i> {{cours.heures}}h</span>
        }
      </div>
    </div>
    }
    @switch (session) {
    @case (3) {
    <div class="infos-supp course edouard bg-info text-light" style="flex: 0 48%;">
      &nbsp;<i class="fas fa-info-circle"></i>
      Les cours d'été durent 5 semaines. De la fin mai au début du mois de juillet.
    </div>
    }
    @case (6) {
    <div class="infos-supp course edouard bg-info text-light" style="flex: 0 48%;">
      &nbsp;<i class="fas fa-info-circle"></i>
      Fin des cours au CÉGEP Édouard Montpetit.
      Le DEC sera complet après la session 9 voir plus bas.
      La suite des cours se donne au campus Longueuil de l'université de Sherbrooke. Tu peux aussi faire la demande pour
      suivre tes cours au campus de Sherbrooke.
    </div>
    }
    @case (10) {
    <div class="infos-supp course sherbrooke bg-danger text-light" style="flex: 0 100%;">
      <span class="float-end icons">
        &nbsp;<i class="fas fa-user-graduate"></i>
      </span>
      <div class="titre">
        Félicitations !! Tu es titulaire d'un DEC en informatique.
        <p>
          Si tu t'arrêtes ici tu peux également obtenir un certificat en
          technologies de l'information de l'université de Sherbrooke.
        </p>
      </div>
      <div>
        Les cours universitaires que tu as validés permettent de remplacer les
        cours collégiaux suivant :
        <ul>
          <li>
            <span class="badge text-bg-dark">420-3U4-EM</span>
            Introduction à la cybersécurité remplacé par IFT-606 et IFT-585
          </li>
          <li>
            <span class="badge text-bg-dark">420-4E4-EM</span>
            Solutions technologiques en programmation remplacé par IGL-601
          </li>
          <li>
            <span class="badge text-bg-dark">420-4M3-EM</span>
            Méthodologie remplacé par IFT-203 et IGL-601
          </li>
          <li>
            <span class="badge text-bg-dark">420-5Y5-EM</span> Analyse
            et conception applications remplacé par IGL-601 et IFT-595
          </li>
          <li>
            <span class="badge text-bg-dark">420-5L4-EM</span>
            Professions et soutien aux utilisateurs remplacé par IFT-203
          </li>
          <li>
            <span class="badge text-bg-dark">420-6P8-EM</span> Projet
            en programmation remplacé par IFT-595
          </li>
        </ul>
      </div>
    </div>
    }
    @case (14) {
    <div class="infos-supp course sherbrooke bg-danger text-light" style="flex: 0 100%;">
      <span class="float-end icons">
        &nbsp;<i class="fas fa-user-graduate"></i>
      </span>
      <div class="titre">
        Félicitations !! Tu es titulaire d'un BAC en informatique. Après un
        DEC en informatique. Eh ben eh ben.
        <p>Toutes ces lignes de code, ces travaux, ces points d'arrêt.</p>
      </div>
      <div>C'est beau de voir tout ce qu'on peut apprendre en 5 ans.</div>
    </div>
    }
    }
  </div>
  }
</div>