<br />
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="card text-dark bg-light mb-3">
        <div class="card-header">Plagiat</div>
        <div class="card-body">
          <h5 class="card-title">C'est pas bien</h5>
          <p class="card-text">
            Le but de cette page est d'expliquer clairement la différence entre
            s'aider et tricher.
          </p>
          <a
            class="badge badge-dark"
            target="_blank"
            href="https://www.cegepmontpetit.ca/static/uploaded/Files/Cegep/A%20propos/Reglements%20et%20politiques/Etude%20et%20etudiants/politiques/PIEA_2015-09-21.pdf"
            >Politique du collège</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Correct</div>
        <div class="card-body">
          <!--          <h5 class="card-title">C'est pas bien</h5>-->
          Tu as le droit de :
          <ul>
            <li>
              travailler avec un autre étudiant mais chacun sur son travail
            </li>
            <li>
              te faire expliquer des notions vues dans le cours par un autre
              étudiant
            </li>
            <li>parler et expliquer un point à un autre étudiant</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">Pas correct</div>
        <div class="card-body">
          <!--          <h5 class="card-title">C'est pas bien</h5>-->
          <!--          <p class="card-text">Le but de cette page est d'expliquer clairement la différence entre s'aider et tricher.</p>-->
          Tu ne peux PAS :
          <ul>
            <li>faire le travail d'un autre étudiant à sa place</li>
            <li>copier le travail d'un autre étudiant</li>
            <li>
              échanger des fichiers, des parties de fichiers correspondant à un
              travail évalué individuellement
            </li>
            <li>prêter ou te faire prêter ta clé USB ou disque externe etc.</li>
            <li>recopier lettre par lettre le travail d'un autre.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">Sanctions</div>
        <div class="card-body">
          <p>
            Celui qui a partagé son travail est sanctionné au même titre que
            celui qui l'a copié.
          </p>
          <p>
            Un premier plagiat sera sanctionné d'un
            <span class="badge badge-light">0 au travail</span>. Si tu as déjà
            eu un plagiat au collège, tu auras une rencontre avec la direction
            du collège.
          </p>
          <p>
            Un second plagiat dans un même cours entraîne la note de
            <span class="badge badge-light">0 au cours</span>.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card text-dark bg-warning mb-3">
        <div class="card-header">Protège ton travail</div>
        <div class="card-body">
          <p>
            Si tu partages ou que tu le laisses traîner ton travail, tu ne
            contrôles pas ce que les autres vont en faire.
          </p>
          <ul>
            <li>
              Redémarre ton poste de travail en quittant. Verrouille ta session
              si tu t'absentes un moment.
            </li>
            <li>Garde ta clé/ton disque amovible avec toi en tout temps.</li>
            <li>Encrypte ta clé/ton disque pour protéger en cas de perte.</li>
            <li>
              Si tu échanges un travail <strong>d'équipe</strong> avec un
              camarade, envoie lui par MIO. Il n'aura pas accès à tes autres
              travaux, et il restera une trace du partage.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
