<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Engagements du professeur</h1>
      Tous les professeurs du collège doivent respecter les engagements
      suivants:

      <h3>Communication</h3>
      <ul>
        <li>
          Chaque professeur doit répondre aux messages écrits (courriel, Teams,
          MIO) avant <strong>48 heures</strong> ouvrables (ouvrable exclut les
          fins de semaines, les congés etc.). Cela n'engage pas le professeur à
          trouver la solution aux questions posées dans ce délai mais à envoyer
          une réponse.
        </li>
        <li>
          Le professeur doit annoncer 4 heures de disponibilités par semaine aux
          étudiants en présence au cégep. Les questions peuvent être posées en
          personne (bureau du prof ou centre d'aide) ou par Teams.
        </li>
      </ul>

      <h3>Évaluations</h3>
      <ul>
        <li>
          Chaque professeur doit remettre aux étudiants le résultat d'une
          évaluation sommative au maximum <strong>3 semaines</strong>
          après la date de remise pour un travail ou la date de l'épreuve pour
          un examen. Les copies doivent être commentées de telle sorte que
          l’étudiant puisse prendre connaissance de ses erreurs, de ses lacunes
          et de ses points forts.
        </li>
        <li>
          Le professeur doit rendre disponibles les copies pour consultation /
          question après la correction. Ça peut se passer pendant une séance de
          cours ou sur demande.
        </li>
        <li>
          15 % de la pondération du cours doit être remise à l'étudiant avant la
          mi-session (autour de la semaine 8)
        </li>
        <li>
          Les évaluations sont données telles que prévues au plan de cours
          (date, pondération, sujet de l'évaluation).
        </li>

        <li>
          Le professeur doit annoncer la nature et les critères de l'évaluation
          au moins une semaine avant la date de remise.
        </li>
      </ul>

      <h3>Présence et implication</h3>
      <ul>
        <li>
          Le professeur doit respecter les proportions de théorie / pratique /
          travail à la maison annoncées dans le plan de cours sur l'ensemble de
          la session.
        </li>

        <li>
          Le professeur doit être présent en classe durant les périodes de
          cours. Les cours devraient habituellement durer toute la période
          prévue à l'horaire.
        </li>
        <li>
          A chaque heure de cours, le professeur et les étudiants peuvent
          prendre une pause d'un maximum de <strong>10 minutes</strong>.
        </li>
      </ul>

      Le collège a une Politique que les profs doivent respecter, la Politique
      Interne Évaluations des Apprentissages. Tu peux trouver le document :
      <a
        href="https://www.cegepmontpetit.ca/static/uploaded/Files/Cegep/A%20propos/Reglements%20et%20politiques/Etude%20et%20etudiants/politiques/PIEA_2015-09-21.pdf"
        >ici</a
      >.
    </div>
    <div class="col-md-6">
      <h1>Engagements de l'étudiant</h1>
      <ul>
        <li>
          Implication : l'informatique, ça ne marche pas toujours, il faut
          persévérer, s'impliquer si tu souhaites compléter le programme.
        </li>
        <li>
          Présence aux épreuves : tu dois être présent aux examens et autres
          épreuves. Les reprises d'examen ne sont pas automatiques (sauf si ton
          absence était motivée). Chaque professeur peut décider d'offrir une
          reprise selon la situation.
        </li>
        <li>
          Assiduité : tu dois te présenter aux cours pour progresser. Les
          professeurs sont là pour t'aider à progresser, pour ça il faut venir
          en classe. Si tu rates trop de séances (chaque prof vous donnera les
          détails), tu obtiendras un échec.
        </li>
        <li>
          En cas d'absence : tu as la responsabilité de rattraper la matière par
          toi-même en t’informant auprès de tes camarades. L’enseignant n’a pas
          à te redonner le cours raté.
        </li>
        <li>
          Respect et calme en classe : nous partageons nos laboratoires. Il faut
          que chacun respecte le travail des autres et assurer un environnement
          de travail calme pour tout le monde. Dans les laboratoires, on vous
          demande entre autres de
          <ul>
            <li>ne pas manger</li>
            <li>parler à un volume raisonnable</li>
            <li>écouter votre musique avec un casque</li>
          </ul>
        </li>
        <li>
          Plagiat : tu dois faire tes travaux, pas les plagier. Tu dois garder
          tes travaux pour toi. Plus de détails sur la page
          <a routerLink="/plagiat">plagiat</a>.
        </li>
      </ul>

      <div class="alert alert-danger mt-5">
        <br />
        <h4>Quoi faire en cas de problème avec un prof?</h4>

        <p>
          Si votre professeur ne semble pas respecter ses engagements ou pour
          tout autre problème, nous vous invitons à communiquer avec lui afin
          d'éclaircir la situation.
        </p>
        <p>
          Si la communication avec votre professeur ne résout pas la situation,
          vous pouvez communiquer avec la coordination départementale par
          courriel ou en personne:
        </p>
        <p>
          <a
            class="btn btn-block btn-outline-dark btn-sm"
            href="mailto:coordination.info@cegepmontpetit.ca"
          >
            coordination.info&#64;cegepmontpetit.ca <i class="far fa-envelope"></i>
          </a>
        </p>

        <p>
          Si tu ne trouves toujours pas de solution satisfaisante, tu peux
          contacter la direction des études du collège. Il existe une procédure
          de plainte si rien d'autre n'a fonctionné.
        </p>
      </div>
    </div>
  </div>
</div>
