<div class="container">
  <div class="row">
    <div class="col-md alert">
      <h4>Exemple de commit</h4>
      <p>
        Tu as implanté la sauvegarde dans un fichier texte, les modifications
        touchent 3 fichiers dans ton code.
      </p>

      <div class="alert alert-success">
        <strong>titre :</strong>
        FCT sauvegarde de configuration dans fichier
        <br /><strong>description</strong> : J'ai utilisé la librairie Guava
        pour simplifier la sauvegarde. <br />Le format de sauvegarde est tel que
        décrit à l'URL https://exemple.com/format
      </div>
    </div>

    <div class="col-md alert alert-dark">
      <strong>Nom de du dépot pour un travail </strong>
      <p>
        Chaque travail devra se trouver dans un dépôt de code source. Le nom du
        dépôt pour un travail individuel doit respecter le format suivant :
      </p>
      <pre>SessionAnnée-NumeroCours-NomTravail-NomPrenom</pre>
      <p>Par exemple le nom H19-4203N5-WebCrawler-SmithJohn correspond à :</p>
      <ul>
        <li>La session d’hiver 2019</li>
        <li>Dans le cours de 4203N5</li>
        <li>Pour le travail WebCrawler</li>
        <li>De JohnSmith</li>
      </ul>

      <p>Pour un travail d’équipe le nom devra être selon le format:</p>
      <pre>SessionAnnée-NumeroCours-NomTravail-Nom1Nom2...</pre>
    </div>
    <div class="col-md alert">
      <strong>Contributeurs du repo / plagiat</strong>
      <p>
        Tous les dépôts de code correspondant à des travaux évalués doivent être
        <span class="badge text-bg-danger">privés</span>.
      </p>
      <p>
        Vous devez inclure votre professeur dans les collaborateurs de votre
        dépôt pour qu’il puisse y avoir accès.
      </p>
      <p>
        Les seuls autres collaborateurs avec accès sont les membres de l’équipe
        s’il s’agit d’un travail d’équipe.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md alert">
      <h4>Quand</h4>
      <div class="alert alert-dark">
        Règle du pouce : un commit dès que tu as gagné un point ou plus dans le
        barème de ton travail
      </div>
      <p>
        Tu dois créer des « commits » régulièrement dans ton projet. Tu ne dois
        pas attendre trop longtemps pour faire un commit mais tu ne dois pas non
        plus faire un commit à chaque fois que tu changes un fichier.
      </p>
      <p>
        Un commit contient généralement des modifications à un ou plusieurs
        fichiers qui constituent un progrès dans ton projet. Ton code doit
        compiler pour faire un commit.
      </p>
    </div>

    <div class="col-md alert">
      <h4>Types de commits</h4>
      <p>Inscris le type de commit au début du titre.</p>
      <span class="badge text-bg-warning">FCT</span> (Fonctionnalité) : un
      nouvel aspect dans le code fonctionne et augmente la valeur de ton travail
      / tu as gagné un point du barème.
      <br />
      <span class="badge text-bg-warning">PROGRES</span> (Progrès) : tu n'as pas
      fini la fonctionnalité mais tu dois t'arrêter.
      <br />
      <span class="badge text-bg-warning">BUGFIX</span> (Débogage) : tu as
      résolu un bogue. Décris la solution pour l'avoir plus tard.
      <br />
      <span class="badge text-bg-warning">NETTOYAGE</span> (Nettoyage) : tu
      supprimes du code qui n'est plus nécessaire.
      <br />
      <span class="badge text-bg-warning">REFACTOR</span> (Réorganisation) : tu
      as changé l’organisation de ton code pour le rendre plus lisible mais le
      comportement reste le même.
    </div>

    <div class="col-md alert">
      <h4>Textes en français</h4>
      <p>
        Les textes de ton commit sont en français. Nous évaluons la qualité du
        français. Assure toi que tes textes passent le correcteur orthographique
        de Word par exemple.
      </p>
      <p>
        Les titres de commits ne sont pas obligatoirement des phrases (ils
        doivent rester courts).
      </p>
      <p>
        Si ton commit contient une description, elle doit contenir des phrases
        compréhensibles par une personne extérieure.
      </p>
    </div>
  </div>
</div>
