body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/assets/home.jpg");
  min-height: 100%;
  width: 100%;
}

.bgimg-2 {
  background-image: url("/assets/dec.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("/assets/college.jpg");
  min-height: 100%;
}


.caption {
  position: absolute;
  margin:0 auto;
  top: 20%;
  min-width: 50%;
  text-align: center;
  line-height: 35px;
  color: #fff;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

@media not all and (min-resolution:.001dpcm) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}




.bienvenue {
  color:black;
  background: #ffffffee;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.8em;
  line-height: 1.2em;
  padding:35px;
}


@media only screen and (max-device-width: 400px) {
  .cue {
    display: none;
  }
}
