<div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Logiciels gratuits</mat-card-title>
            <mat-card-subtitle>Pendant ta formation</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              En intégrant le collège et le département, tu as accès
              gratuitement à plein de logiciels pendant ta formation. Tu peux
              les installer chez toi pour continuer tes travaux ou expérimenter.
            </p>
            <p>
              Pour te connecter, tu utilises ton identifiant (parfois juste ton
              matricule, parfois matricule@cegepmontpetit.ca). Ensuite ton mot
              de passe est le même que celui que tu utilises au collège.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <a
          style="white-space: normal"
          target="_blank"
          class="btn btn btn-block btn-info"
          href="https://itacademy.vmware.com/"
        >
          VMWare
        </a>
        <span style="font-size: 0.8em">identifiant = <em>matricule</em></span>
        <p>
          Utile pour les cours de systèmes d'exploitation et de réseau. Permet
          de "rouler" des machines virtuelles à la maison.
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a
          style="white-space: normal"
          target="_blank"
          class="btn btn btn-block btn-primary"
          href="https://portal.azure.com/#blade/Microsoft_Azure_Education/EducationMenuBlade/software"
        >
          Windows <i class="fab fa-windows"></i> Visual Studio
        </a>
        <span style="font-size: 0.8em"
          >identifiant = <em>matricule</em>@cegepmontpetit.ca</span
        >
        <p>
          L'environnement de développement qu'on utilise pour la programmation
          au début de la technique et tout ce qui touche à .NET.
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a
          style="white-space: normal"
          target="_blank"
          class="btn btn btn-block btn-primary"
          href="https://education.github.com/pack/join"
        >
          GitHub <i class="fab fa-github"></i> GitKraken
          <i class="fab fa-gitkraken"></i>
        </a>
        <span style="font-size: 0.8em"
          >identifiant = <em>matricule</em>@cegepmontpetit.ca</span
        >
        <p>
          Pour faire le suivi de ton code source, nous utilisons la plateforme
          Github et l'appli GitKraken. Pendant ta formation tu as accès aux
          versions pro.
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a
          style="white-space: normal"
          target="_blank"
          class="btn btn btn-block btn-success"
          href="https://login.microsoftonline.com/"
        >
          Office <i class="fas fa-file-word"></i>&nbsp;
          <i class="fas fa-file-excel"></i>
        </a>
        <span style="font-size: 0.8em"
          >identifiant = <em>matricule</em>@cegepmontpetit.ca</span
        >
        <p>
          Au collège tu as un compte Office 365. Tu peux télécharger Office pour
          ton ordi à la maison.
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a
          style="white-space: normal"
          target="_blank"
          class="btn btn btn-block btn-warning"
          href="https://www.jetbrains.com/student/"
        >
          JetBrains
        </a>
        <span style="font-size: 0.8em"
          >identifiant = <em>matricule</em>@cegepmontpetit.ca</span
        >
        <p>
          Jetbrains t'offre toutes les versions ultimes pendant ta technique.
          Utilisé pour le développement Java, Android etc.
        </p>
      </div>
    </div>
  </div>
</div>
