.row .commun  {
  border-radius: 3px;
  border: 2px solid black;
  padding: 5px;
}
.row .specifique {
  border-radius: 5px;
  border: 2px solid #005e7c;
  color:black;
  background: #efe;
  padding: 5px;
}
.row .sherbrooke {
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
}
.icons {
  font-size: 1.5em;
  padding: 0 4px 0 4px;
}
.titre{
  font-weight: 700;
  font-size: 1.1em;
}
.heures{
  font-size: .8em;
  float: right;
  clear: right;
}
