<br />
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="alert alert-dark">
        <h1>DEC&#64;Montpetit / Bac&#64;UdeSherbrooke</h1>
        <p>
          Le DEC-Bac c'est un DEC du collège Édouard Montpetit et un Bac de
          l'université de Sherbrooke.
        </p>
        <p>
          Certains cours "en double" disparaissent, tu fais 3 sessions par an et
          hop, ça prend juste 5 ans.
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="alert alert-dark">
        <h1>Légende</h1>
        <p>Tous les cours en blanc sont donnés au CEGEP au campus Longueuil.</p>
        <p>
          Tous les cours en vert sont donnés par l'université de Sherbrooke sur
          le
          <a
            class="btn btn-success"
            target="_blank"
            href="https://www.usherbrooke.ca/longueuil/campus/acces/"
            >Campus Longueuil</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="float-right">Année 1 Automne</span>
      <h5 id="s1">Session 1</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="commun bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fa fa-file-word"></i> &nbsp;<i
            class="fa fa-file-excel"
          ></i>
        </span>
        <span class="titre"> Bureautique </span>
        <div style="clear: both">
          <span class="numero badge badge-light">420-1B3-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 45h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="commun bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-linux"></i> &nbsp;<i
            class="fab fa-windows"
          ></i>
        </span>
        <span class="titre"> Systèmes d'exploitation </span>
        <div style="clear: both">
          <span class="numero badge badge-light">420-1S6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="commun bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-code"></i> &nbsp;<i class="fas fa-hashtag"></i>
        </span>
        <div class="titre">Prog. 1</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-1N6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="commun bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-database"></i>
        </span>
        <div class="titre">Introduction aux bases de données</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-1D5-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 75h</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 1 Hiver</span>
      <h5 id="s1">Session 2</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="commun bg-light text-dark service">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-calculator"></i>
        </span>
        <div class="titre">Mathématiques pour Informatique</div>
        <div style="clear: both">
          <span class="numero badge badge-light">201-924-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 60h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="commun bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-network-wired"></i> &nbsp;<i
            class="fas fa-"
          ></i>
        </span>
        <div class="titre">Réseaux locaux</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-2R5-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 75h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="commun bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-hashtag"></i> &nbsp;<i class="fab fa-git"></i>
        </span>
        <div class="titre">Prog. 2</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-2N6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="specifique bg-light text-dark web">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-html5"></i> &nbsp;<i
            class="fas fa-exchange-alt"
          ></i>
        </span>
        <div class="titre">Prog. Web serveur</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-2W5-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 75h</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 1 Été</span>
      <h5 id="s1">Session 3</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="specifique bg-light text-dark web">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-file-code"></i> &nbsp;<i
            class="fas fa-database"
          ></i>
        </span>
        <div class="titre">Prog. Web transactionnelle</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-3W6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="bg-info text-light specifique web">
        <div>
          &nbsp;<i class="fas fa-info-circle"></i>
          Les cours d'été durent 5 semaines.
          <p>De la fin mai au début du mois de juillet.</p>
        </div>
        <div style="clear: both">
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 5 semaines</span
          >
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 2 Automne</span>
      <h5 id="s1">Session 4</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="commun bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-comments"></i>
        </span>
        <div class="titre">Communiquer en milieux professionnels</div>
        <div style="clear: both">
          <span class="numero badge badge-light">350-914-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="specifique bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-java"></i> &nbsp;<i class="fab fa-android"></i>
        </span>
        <div class="titre">Prog. 3</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-3N5-EM</span>
          <span class="float-right" style="color: #ddd"
            >&nbsp;<i class="fas fa-clock"></i> 75h</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="specifique bg-light text-dark web">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-file-code"></i> &nbsp;<i class="fab fa-js"></i>
          &nbsp;<i class="fab fa-angular"></i>
        </span>
        <div class="titre">Prog. Web orientée services</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-4W6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 2 Hiver</span>
      <h5 id="s1">Session 5</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="specifique bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-database"></i> &nbsp;<i
            class="fab fa-laravel"
          ></i>
        </span>
        <div class="titre">Bases de données et prog. Web</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-4D5-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 75h</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="specifique bg-light text-dark">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-lightbulb"></i> &nbsp;<i
            class="fas fa-clipboard-list"
          ></i>
        </span>
        <div class="titre">Analyse et conception d'applications</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-5Y5-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 75h</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="specifique bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-android"></i> &nbsp;<i
            class="fa fa-mobile-android"
          ></i>
        </span>

        <div class="titre">Applications mobiles</div>

        <div style="clear: both">
          <span class="numero badge badge-light">420-4N6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="specifique bg-light text-dark web">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-file-code"></i> &nbsp;<i
            class="fas fa-images"
          ></i>
          &nbsp;<i class="fas fa-globe-americas"></i>
        </span>
        <div class="titre">Prog. Web Avancée</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-5W5-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 2 Été</span>
      <h5 id="s1">Session 6</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="specifique bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-android"></i> &nbsp;<i
            class="fas fa-globe-americas"
          ></i>
        </span>
        <div class="titre">Applications mobiles avancées</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-5N6-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="bg-info text-light specifique web">
        <div>
          &nbsp;<i class="fas fa-info-circle"></i>
          Fin des cours au collège Édouard Montpetit.
        </div>
        <div>Le DEC sera complet après la session 9 voir plus bas.</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="bg-info text-light specifique web">
        <div>
          &nbsp;<i class="fas fa-info-circle"></i>
          La suite des cours se donne au campus Longueuil de l'université de
          Sherbrooke.
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-calculator"></i>
        </span>
        <div class="titre">Compléments de mathématiques (intensif)</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">MAT-099i</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 2-2-2</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 3 Automne</span>
      <h5 id="s1">Session 7</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-users"></i>
        </span>
        <div class="titre">Informatique et société</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 203</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-dev"></i><br />
          &nbsp;<i class="fas fa-terminal"></i>
        </span>
        <div class="titre" style="word-wrap: break-word">
          Programmation système
        </div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 209</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-sitemap"></i>
        </span>
        <div class="titre">Structures de données</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 339</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-calculator"></i>
        </span>
        <div class="titre">Logique et mathématiques discrètes</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">MAT 115</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-3-3</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-calculator"></i>
        </span>
        <div class="titre">Algèbre linéaire</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">MAT 193</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-2-4</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-calculator"></i>
        </span>
        <div class="titre">Compléments de mathématiques (suite)</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">MAT-099f</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 1-1-1</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 3 Hiver</span>
      <h5 id="s1">Session 8</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="specifique bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-user-tie"></i>
        </span>
        <div class="titre">Stage 1</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-6GF-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 90h</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 3 Été</span>
      <h5 id="s1">Session 9</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-project-diagram"></i>
        </span>
        <div class="titre">Algorithmes et structures de données</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 436</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-wifi"></i>
        </span>
        <div class="titre">Télématique</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 585</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-lock"></i>
        </span>
        <div class="titre">Sécurité et cryptographie</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 606</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-code-branch"></i>
        </span>
        <div class="titre">Techniques et outils de développement</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IGL 601</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-2-4</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-tasks"></i>
        </span>
        <div class="titre">Projet d'informatique I</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT XYZ</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 0-2-4</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="specifique bg-light text-dark natif">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-tasks"></i>
        </span>
        <div class="titre">Projet de fin d'études en programmation</div>
        <div style="clear: both">
          <span class="numero badge badge-light">420-6P3-EM</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 0-3-0</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mt-5 mb-5 bg-danger text-light sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-user-graduate"></i>
        </span>
        <div class="titre">
          Félicitations !! Tu es titulaire d'un DEC en informatique.
          <p>
            Si tu t'arrêtes ici tu peux également obtenir un certificat en
            technologies de l'information de l'université de Sherbrooke.
          </p>
        </div>
        <div style="clear: both">
          Les cours universitaires que tu as validés permettent de remplacer les
          cours collégiaux suivant :
          <ul>
            <li>
              <span class="numero. badge badge-dark">420-3U4-EM</span>
              Introduction à la cybersécurité remplacé par IFT-606 IFT-585
            </li>
            <li>
              <span class="numero. badge badge-dark">420-4E4-EM</span> Solutions
              technologiques en programmation remplacé par IGL-601
            </li>
            <li>
              <span class="numero. badge badge-dark">420-4M3-EM</span>
              Méthodologie remplacé par IFT-203 et IGL-601
            </li>
            <li>
              <span class="numero. badge badge-dark">420-5Y5-EM</span> Analyse
              et conception applications remplacé par IGL-601 IFT-XYZ
            </li>
            <li>
              <span class="numero. badge badge-dark">420-5L4-EM</span>
              Professions et soutien aux utilisateurs remplacé par IFT-203
            </li>
            <li>
              <span class="numero. badge badge-dark">420-6P8-EM</span> Projet en
              programmation remplacé par IFT-XYZ
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 4 Automne</span>
      <h5 id="s1">Session 10</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-user-tie"></i>
        </span>
        <div class="titre">Stage 2</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">T2</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 4 Hiver</span>
      <h5 id="s1">Session 11</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-project-diagram"></i>
        </span>
        <div class="titre">Méthodes de conception orientée objet</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 232</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-dev"></i>
        </span>
        <div class="titre">Introduction aux langages formels</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 313</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-cogs"></i><br />
          &nbsp;<i class="fas fa-brain"></i>
        </span>
        <div class="titre">Intelligence artificielle</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 615</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-cube"></i><br />
          &nbsp;<i class="fas fa-photo-video"></i>
        </span>
        <div class="titre">Infographie</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IMN 428</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="far fa-chart-bar"></i>
        </span>
        <div class="titre">Statistique appliquée</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">STT 418</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-2-4</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 4 Été</span>
      <h5 id="s1">Session 12</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-user-tie"></i>
        </span>
        <div class="titre">Stage 3</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">T3</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 5 Automne</span>
      <h5 id="s1">Session 13</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fab fa-windows"></i><br />
          &nbsp;<i class="fab fa-linux"></i>
        </span>
        <div class="titre">Système d'exploitation</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 320</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons"> </span>
        <div class="titre">Programmation fonctionnelle</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 359</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-1-5</span
          >
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <span class="float-right">Année 5 Hiver</span>
      <h5 id="s1">Session 14</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-project-diagram"></i>
        </span>
        <div class="titre">Processus concurrents et parallélisme</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">IFT 630</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="bg-success text-dark sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-question"></i>
        </span>
        <div class="titre">Cours au choix</div>
        <div style="clear: both">
          <span class="numero badge badge-dark">OPT</span>
          <span class="float-right"
            >&nbsp;<i class="fas fa-clock"></i> 3-0-6</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mt-5 mb-5 bg-danger text-light sherbrooke">
        <span class="float-right icons">
          &nbsp;<i class="fas fa-user-graduate"></i>
        </span>
        <div class="titre">
          Félicitations !! Tu es titulaire d'un BAC en informatique. Après un
          DEC en informatique. Eh ben eh ben.
          <p>Toutes ces lignes de code, ces travaux, ces points d'arrêt.</p>
        </div>
        <div>C'est beau de voir tout ce qu'on peut apprendre en 5 ans.</div>
      </div>
    </div>
  </div>
</div>
