<br />
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      Pour nous contacter, une seule adresse:
      <br /><br />
      <div class="d-grid">
        <a
          class="btn btn-outline-light btn-lg mb-5"
          href="mailto:coordination.info@cegepmontpetit.ca"
        >
          coordination.info&#64;cegepmontpetit.ca
          <i class="far fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
