<br />
<div class="container">
  <div class="row">
    <h2>Conseils et infos pour les nouveaux arrivants</h2>
  </div>
  <br />
  <div class="row">
    <h4>Travaux et notes</h4>
  </div>
  <div class="row" id="travaux">
    Vous allez sans doute passer 3 ans au département. Ça représente de nombreux
    travaux et autres documents que vous devriez sans doute conserver.
    <div class="col-md-5 alert alert-warning">
      <h5>Structure de dossiers suggérée:</h5>
      <ul>
        <li>
          college/
          <ul>
            <li>
              Automne2018/
              <ul>
                <li>
                  Prog1/
                  <ul>
                    <li>semaine1/</li>
                    <li>
                      TP1/
                      <ul>
                        <li>TP1-v1.zip</li>
                        <li>TP1-v2.zip</li>
                        <li>TP/</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Hiver2020/</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-4 alert alert-info">
      <h5>Travaux</h5>
      <ul>
        <li>Commencer dès que possible à lire le sujet du travail</li>
        <li>
          Identifier les morceaux que vous ne savez pas faire pour avoir le
          temps de poser vos questions au prof
        </li>
        <li>
          Sauvegardez plusieurs versions de votre travail. Dès que vous avez
          gagné des points faites un nouveau ZIP.
        </li>
        <li>
          Si le travail est remis via Léa, faites des remises au fil de vos
          progrès (le prof prendra la dernière version).
        </li>
      </ul>
    </div>
    <div class="col-md-3 alert alert-danger">
      <h5>Sauvegardes</h5>
      <ul>
        <li>Votre clé ou disque n'est pas infaillible</li>
        <li>
          Prenez l'habitude de copier toute votre clé sur votre ordi à la maison
        </li>
        <li>
          Si le travail est remis via Léa, faites des remises au fil de vos
          progrès (le prof prendra la dernière version).
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h4>Objets perdus</h4>
  </div>
  <div class="row well" id="perdus">
    <p>
      Vous allez sans doute perdre ou trouver une clé USB, un manteau ou encore
      un disque dur externe dans les laboratoires d'informatique. Voici les
      consignes:
    </p>
    <div class="col-md-3 alert alert-danger">
      J'ai perdu un manteau, mon sac etc. Je vais à la sécurité, le local vitré
      au bout du couloir.
    </div>
    <div class="col-md-3">
      J'ai trouvé un manteau, un sac etc. Je vais le porter à la sécurité, le
      local vitré au bout du couloir.
    </div>
    <div class="col-md-3 alert alert-danger">
      J'ai perdu un disque dur externe, j'ai oublié ma clé USB. Je vais au
      bureau de la coordination.
    </div>
    <div class="col-md-3">
      J'ai trouvé un disque ou une clé USB. Je vais la porter à la coordination
      au E-210. S'ils ne sont pas là, je cherche un prof du département (ils ont
      les clés du bureau des coordonnateurs).
    </div>
  </div>

  <div class="row">
    <h4>Laboratoires</h4>
  </div>
  <div class="row" id="labos">
    <div class="col-md-3 alert alert-info">
      Si vous cherchez un poste où travailler et qu'il y a un cours dans le
      local, pensez bien à demander au prof si vous pouvez utiliser un poste
      libre. Dans ce cas, on s'attend au silence.
    </div>
    <div class="col-md-3">
      Les laboratoires sont dédiés en priorité aux étudiants du département mais
      également aux activités reliées aux cours. Si vous faites autre chose et
      qu'un étudiant a besoin de travailler, vous devez céder votre place.
    </div>
    <div class="col-md-3 alert alert-danger">
      On ne mange pas dans les laboratoires, rendez-vous à la porte pour faire
      des miettes.
    </div>
    <div class="col-md-3">
      On peut boire dans les laboratoires mais il faut que le liquide soit dans
      un contenant hermétique. (je peux le renverser à l'envers et ça ne coule
      pas)
    </div>
  </div>

  <div class="row well" id="dispos">
    <h4>Disponibilités</h4>
    <p>
      Tous les professeurs vous offrent 4 heures de disponibilités en dehors des
      heures de cours. Utilisez vos profs, ce sont des experts dans le domaine.
      Vos camarades de classe viennent souvent de découvrir ce qu'ils vous
      expliquent. Du coup, ce n'est pas toujours fiable.
    </p>
  </div>
</div>
