.carousel  {
  border: 5px solid #070707;
  border-radius: 5px;
}

a.badge {
  font-size: 1.08em;
}

.goodies {
  cursor: pointer;
  background: #eee;
  padding: 10px;
  border: 5px solid #070707;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;

}
