.sidenav-container {
  height: 100%;
}

.pointy:hover {
  cursor: pointer;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav {
  //background: $candy-app-accent;
}

.principale {
  height: 100%;
  overflow: scroll;
}

.example-spacer {
  flex: 1 1 auto;
}
