<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [disableClose]="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="(isHandset$ | async) ? 'false' : 'true'">
<!--    <mat-toolbar color="accent">Menu</mat-toolbar>-->
    <button *ngIf="!isExpanded" mat-mini-fab (click)="isExpanded = !isExpanded" color="accent" style="margin: 13px;">
      <mat-icon aria-label="Menu">open_in_full</mat-icon>
    </button>
    <button *ngIf="isExpanded" mat-mini-fab (click)="isExpanded = !isExpanded" color="accent" style="margin: 13px;">
      <mat-icon aria-label="Menu">close_fullscreen</mat-icon>
    </button>
    <mat-nav-list>
      <mat-list-item routerLink="home" (click)="isExpanded = false">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Accueil</h4>
      </mat-list-item>
      <mat-list-item routerLink="profs" (click)="isExpanded = false">
        <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Profs</h4>
      </mat-list-item>
      <mat-list-item routerLink="dec" (click)="isExpanded = false">
        <mat-icon mat-list-icon>school</mat-icon>
        <h4 mat-line *ngIf="isExpanded">DEC Technique</h4>
      </mat-list-item>
      <mat-list-item routerLink="decbac" (click)="isExpanded = false">
        <mat-icon mat-list-icon>science</mat-icon>
        <h4 mat-line *ngIf="isExpanded">DEC Bac</h4>
      </mat-list-item>
      <mat-list-item routerLink="faq" (click)="isExpanded = false">
        <mat-icon mat-list-icon>help_outline</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Foire aux questions</h4>
      </mat-list-item>
      <mat-list-item routerLink="goodies" (click)="isExpanded = false">
        <mat-icon mat-list-icon>savings</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Logiciels gratuits</h4>
      </mat-list-item>
      <mat-list-item routerLink="plagiat" (click)="isExpanded = false">
        <mat-icon mat-list-icon>copyright</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Plagiat</h4>
      </mat-list-item>
      <mat-list-item routerLink="contact" (click)="isExpanded = false">
        <mat-icon mat-list-icon>email</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Contact</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-icon *ngIf="drawer.opened" aria-label="Side nav toggle icon" (click)="drawer.toggle()">chevron_left</mat-icon>
      <mat-icon *ngIf="!drawer.opened" aria-label="Side nav toggle icon" (click)="drawer.toggle()">menu</mat-icon>
      &nbsp;
      <span>Info</span> <span style="font-size:.6em">@Montpetit</span>
      <span class="example-spacer"></span>
      <a class="mr-1" href="https://cegepmontpetit.ca" target="_blank">
        <img style="height: 25px" src="assets/CEM_V_blanc.svg" />
      </a>
      <a class="mr-1" href="https://www.adeptinfo.ca" target="_blank">
        <img style="height: 25px" src="assets/logo-adept.png" />
      </a>
      <a class="mr-1" href="https://www.facebook.com/groups/377761922376448" target="_blank">
        <span style="color: white;">
          <i class="fab fa-facebook-f"></i>
        </span>
      </a>
      <a class="" href="https://cegepedouardmontpetit.sharepoint.com/teams/PED-INFO" target="_blank">
        <img style="height: 25px" src="assets/sharepoint.png" />
      </a>
      <button mat-icon-button class="example-icon" routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
    <div class="principale">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
